.container-post {
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    padding-bottom: 1.5rem;
    width: 300px;
}

.container-post img{
    width: 100%;
}

.container-post p{
    text-align: justify;
    padding: 12px;
}