button{
    margin-top: 20px;
    font-size: 18px;
    padding: 13px;
    width: 10em;
    cursor: pointer;
    background-color: rgba(199, 1, 1, 0.973);
    color: #fff;
    border: none;
}

button:hover{
    background-color: red;
}