.container h2{
    text-align: center;
}

.posts{
    padding: 0 6vw 3.625rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 5rem;
}

li {
    list-style: none;
}

.container-benefits{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-benefits h2{
    text-align: justify;
    font-size: 40px;
}

.container-benefits img, ul{
    display: inline-block;
}

.container-benefits img{
    height: 400px;
    border-radius: 4px;
}