.title-exercices, .title-contact{
    text-align: center;
    font-size: 40px;
}

.posts{
    padding: 0 6vw 3.625rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 5rem;
}

.container-benefits, 
.container-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.container-benefits h2{
    font-size: 40px;
}

.container-benefits li{
    font-size: 16px;
    margin: 10px;
}

.container-benefits img,
.container-contact img{
    height: 400px;
    border-radius: 4px;
}

.container-contact h2{
    text-align: left;
}

.container-contact li{
    margin-top: 10px;
    font-size: 25px;
}

.container-contact span{
    margin-left: 10px;
    font-size: 16px;
}