.title-exercices, .title-contact{
    text-align: center;
    font-size: 40px;
}

.container-posts{
    margin-top: 200px;
}

.posts{
    padding: 0 6vw 3.625rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 5rem;
}

.container-benefits{
    background-color: rgba(61, 48, 48, 0.541);
    padding: 120px;
    margin-top: 170px;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 170px;
}

.container-benefits div, 
.contact div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-benefits h2{
    text-align: left;
    font-size: 40px;
    margin-bottom: 20px;
}

.container-benefits ul,
.contact ul{
    margin-left: 50px;
}

.container-benefits li{
    font-size: 18px;
    margin: 10px;
}

.container-benefits span{
    margin-left: 8px;
    font-size: 16px;
}

.container-benefits img,
.contact img{
    height: 400px;
    border-radius: 4px;
}

.contact h2{
    width: 30rem;
    padding-bottom: 30px;
}

.div-content{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.contact li{
    display: flex;
    margin-top: 10px;
    font-size: 25px;
}

.contact span{
    margin-left: 10px;
    font-size: 16px;
}

.contact img{
    width: 510px;
    height: 100%;
}

@media (max-width: 1024px){

    .container-benefits div,
    .contact div{
        flex-direction: column;
        margin: 0;
        display: grid;
    }

    .container-benefits h2{
        font-size: 30px;
        margin-bottom: 30px;
    }

    .container-imgBenefit{
        order: 2;
    }

    .container-benefits img{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .container-benefits li{
        display: flex;
        flex-direction: column;
        margin: 0;
        text-align: justify;
        margin-top: 6px;
    }
    
    .container-benefits span{
        margin: 10px;
        margin-top: -20px;
        margin-left: 30px;
    }

    .contact{
        flex-direction: column;
    }
  
    .contact h2{
        width: 28rem;
        font-size: 30px;
    }
    
    .contact ul{
        display: flex;
        flex-direction: column;
        margin-top: 6px;
        margin-bottom: 70px;
    }
    
    .img-contact{
        display: block;
        text-align: center;
    }

    .img-contact img{
        width: 450px;
        height: 100%;
    }

}