   
      header{
        z-index: 1000;
        position: fixed;
        background-color: #000;
        width: 100%;
        margin-top: -22px;
    }

/* @media (min-width: 1000px) and (max-width: 1300px){

    .menu-bars {
        color: #000;
        float: right;
        font-size: 1.5em;
        margin-top: -65px;
        margin-right: 5%;
        background: none;
    }

    .menu-bars-closed{
        color: #fff;
        font-size: 1.6em;
        float: right;
        margin-right: 4%;
        margin-top: -43px;
    }

    .menu-bars-closed:hover{
        color: #fff;
    }

    .nav_menu{
        display: flex;
        background-color: #000;
        z-index: 1000;
        justify-content: center;
        flex-direction: column;
        position: fixed ; 
        width: 100%;
        top: 0;
        height: 37vh;
        left: 100%;
        transition: 850ms;
    }

    .nav_menu.active {
        left: 0%;
        transition: 350ms;
    }

    .nav_text {
        margin: 20px;
        text-align: center;
        list-style: none;
        height: 50px;
    }

    .nav_text a{
        color: #fff;
        text-decoration: none;
        position: relative;
    }

    .nav_text a::after{
        content: '';
        width: 0%;
        height: 1px;
        background-color: #fff;
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.3s ease-in-out;
    }

    .nav_text a:hover::after{
        width: 100%;
    }

    .nav_text a:hover{
        color: #fff;
    }

    .navbar_toogle{
        background-color: #000;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .menu-bars:hover{
        color: #fff;
    }

    .div_img{
        margin-left: 5%;
    }

    .div_img img{
        margin-top: -15px;
        margin-bottom: -18px;
        width: 130px;                      
    }
   
} */

@media (max-width: 1024px) {

    .menu-bars {
        color: #fff;
        float: right;
        font-size: 1.6rem;
        margin-top: -58px;
        margin-right: 5%;
        background: none;
    }

    .menu-bars-closed{
        color: #fff;
        font-size: 1.8em;
        float: right;
        margin-right: 4%;
        margin-top: -43px;
    }
                                  
    .menu-bars-closed:hover{
        color: #fff;
    }

    .nav_menu{
        display: flex;
        background-color: #000;
        justify-content: center;
        flex-direction: column;
        position: fixed ; 
        width: 100%;
        top: 0;
        height: 100vh;
        left: 100%;
        transition: 850ms;
    }

    .nav_menu.active {
        left: 0%;
        transition: 350ms;
    }

    .nav_menu_itens{
        height: 84vh;
    }

    .nav_text {
        font-size: 24px;
        margin-top: 50px;
        text-align: center;
        height: 50px;
    }

    .nav_text a{
        color: #fff;
        text-decoration: none;
        position: relative;
        padding-bottom: 15px;
    }

    .nav_text a::after{
        content: '';
        width: 0%;
        height: 1px;
        background-color: #fff;
        color: #000;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.3s ease-in-out;
    }

    .nav_text a:hover::after{
        width: 100%;
    }

    .nav_text a:hover{
        color: #fff;
    }

    .navbar_toogle{
        background-color: #060b26;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .menu-bars:hover{
        color: #fff;
    }

    .div_img img{
        margin-top: 10px;
        margin-bottom: 5px;
        width: 75px;     
        margin-left: 5%;          
    }
} 
 

@media (min-width: 1024px){

    header{
        height: 10vh;
    }
    
    .div_img{
        margin-left: 20%;
        margin-top: 10px;
    }

    .div_img img{
        width: 80px;
    }

    .menu-bars{
        display: none;
    }

    .menu-bars-closed{
        display: none;
    }

    .nav_menu{
        display: flex;
        justify-content: right;
        align-items: center;
        margin-top: -58px;
        margin-right: 20%;
    }

    .nav_text {
        display: inline;
        text-decoration: none;
        color: #fff;
        font-size: 18px;
    }

    .nav_text a{
        color: #fff;
        text-decoration: none;
        margin: 15px;
        position: relative;
        padding-bottom: 15px;
    }

    .nav_text a::after{
        content: '';
        width: 0%;
        height: 1px;
        background-color: #fff;
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.3s ease-in-out;
    }

    .nav_text a:hover::after{
        width: 100%;
    }

    .nav_text a:hover{
        color: #fff;
    }
}