.text {
	height: 70vh;
	display: flex;
    flex-direction: column;
    padding-top: 200px;
    margin-left: 50px;
    color: #fff;
	}
	.span-1{
        font-size: 35px;
        font-weight: bold;
	}
    
.outer-text{
    background-image: url('../../assets/banner2teste.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
    background-position: center;
}

@media (max-width: 1024px){
    .outer-text{
        background-attachment: local;
    }
}

@media (min-width: 280px) and (max-width: 390px){
    .text{
        padding-top: 120px;
    }
    .span-1{
        font-size: 1.8em;
    }
}