.text {
	height: 60vh;
	display: flex;
    flex-direction: column;
    padding-top: 150px;
    margin-left: 50px;
    color: #fff;
	}
	.span-1{
        font-size: 40px;
        font-weight: bold;
	}
    
.outer-text{
    background-image: url('../../assets/banner2teste.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
    background-position: center;
}

@media (max-width: 1024px){
    .outer-text{
        background-attachment: local;
    }
}

@media (min-width: 280px) and (max-width: 460px){
    .text{
        padding-top: 120px;
        height: 65vh;
    }
    .span-1{
        font-size: 1.8em;
    }
}